:root{
    --border-radius:0.6rem;
    --text-color:#fff;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #4c4c4c;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
}

.counter{
    padding: 1rem;
}
.counter__title {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 3rem;
    color: orange;
  }
.card{
    background-color: rgb(67, 65, 65);
    width: 100%;
    max-width: 30rem;
    border-radius: var(--border-radius);
    padding: 1rem;
    color: orange;
    height: auto;
   
}
.btn {
    border: none;
    padding: 0.1rem 0.6rem;
    border-radius: var(--border-radius);
    font-size: 1.6rem;
    transition: all 0.3s;
    margin: 0 0.2rem;
    color: rgb(195, 154, 77);
  }
  
  .btn:hover {
    background-color: orange;
    color: black;
  }
  
  .btn:disabled {
    background-color: red;
  }